---
import Title from '@components/titles/Title.astro'
import Networks from './networks/Networks.astro'
import SecuritySistems from './securitySistems/SecuritySistems.astro'
import WebDeveloper from './webDeveloper/WebDeveloper.astro'
import Computers from './computers/Computers.astro'
import ServiceItem from './ServiceItem.astro'

---

<section class='mt-12 w-full' id="servicios">
  <Title title='¿En que podemos ayudarte? ' />
  <ServiceItem icon="networks" title="Diseño, instalación y mantenimiento de infraestructura de red." className="networks">
    <Networks />
  </ServiceItem>

  <ServiceItem icon="camera" title="Instalación y mantenimiento de sistemas de seguridad" className="securitySistems">
    <SecuritySistems />
  </ServiceItem>

  <ServiceItem icon="code" title="Diseño y desarrollo de páginas y aplicativos web." className="webDeveloper">
    <WebDeveloper />
  </ServiceItem>

  <ServiceItem icon="pc" title="Instalación y mantenimiento de equipos de cómputo." className="computers">
    <Computers />
  </ServiceItem>
        
</section>

<script>
  const serviceGroups = document.querySelectorAll(".group");

  serviceGroups.forEach(section => {
    section.addEventListener("click", () => {
      const content = section.querySelector(".service-content");
      const icon = section.querySelector(".icon");
      const title = section.querySelector("h3");

      const isOpen = content?.classList.contains("showContent");

      serviceGroups.forEach(group => {
        group.querySelector(".service-content")?.classList.remove("showContent");
        group.querySelector(".icon")?.classList.remove("rotate-90", "text-yellow-primary-600");
        group.querySelector("h3")?.classList.remove("text-yellow-primary-600");
      });

      if (!isOpen) {
        content?.classList.add("showContent");
        icon?.classList.add("rotate-90", "text-yellow-primary-600");
        title?.classList.add("text-yellow-primary-600");
      }
      
    });
  });
</script>



