---
import Title from '@components/titles/Title.astro'
import { Icon } from 'astro-icon/components'
import Computers from './Computers.astro'

const services = [
  {
    icon: 'camera',
    title: 'Instalación y mantenimiento de sistemas de seguridad',
  },
  {
    icon: 'networks',
    title: 'Diseño, instalación y mantenimiento de infraestructura de red.',
  },
  {
    icon: 'pc',
    title: 'Instalación y mantenimiento de equipos de computo.',
  },
  {
    icon: 'code',
    title: 'Diseño y desarrollo de páginas y aplicativos web.',
  },
]
---

<section class='mt-12 w-full'>
  <Title title='¿En que podemos ayudarte? ' />

        <article class='flex gap-4 md:gap-12 border-b-2 border-white-700 group mx-auto mt-12 md:w-2/3 pb-2 justify-between'>
          <Icon name="networks" class='text-5xl text-white-700 cursor-pointer' />
          <h3 class='uppercase text-sm text-center  md:text-xl text-white-700 cursor-pointer group-hover:text-yellow-primary-600'>
          Diseño, instalación y mantenimiento de infraestructura de red
          </h3>
          <Icon name='arrow-circle' class='text-5xl cursor-pointer text-white-700 group-hover:text-yellow-primary-600' />
        </article>

        <article class='flex gap-4 md:gap-12 border-b-2 border-white-700 group  mx-auto mt-12 md:w-2/3 md:2/3 pb-2 justify-between'>
          <Icon name="camera" class='text-5xl text-white-700 cursor-pointer' />
          <h3 class='uppercase text-sm text-center  md:text-xl text-white-700 cursor-pointer group-hover:text-yellow-primary-600'>
          Instalación y mantenimiento de sistemas de seguridad
          </h3>
          <Icon name='arrow-circle' class='text-5xl cursor-pointer text-white-700 group-hover:text-yellow-primary-600' />
        </article>

          <article class='flex gap-4 md:gap-12 border-b-2 border-white-700 group  mx-auto mt-12 md:w-2/3 pb-2 justify-between'>
          <Icon name="code" class='text-5xl text-white-700 cursor-pointer' />
          <h3 class='uppercase text-sm text-center  md:text-xl text-white-700 cursor-pointer group-hover:text-yellow-primary-600'>
          Diseño y desarrollo de páginas y aplicativos web
          </h3>
          <Icon name='arrow-circle' class='text-5xl cursor-pointer text-white-700 group-hover:text-yellow-primary-600' />
        </article>

          <article class='flex gap-4 md:gap-12 border-b-2 border-white-700 group  mx-auto mt-12 md:w-2/3 pb-2 justify-between'>
          <Icon name="pc" class='text-5xl text-white-700 cursor-pointer' />
          <h3 class='uppercase text-sm text-center  md:text-xl text-white-700 cursor-pointer group-hover:text-yellow-primary-600'>
         Instalación y mantenimiento de equipos de computo
          </h3>
          <Icon name='arrow-circle' class='text-5xl cursor-pointer text-white-700 group-hover:text-yellow-primary-600' />
        </article>

        <Computers />

</section>
