---
import { Icon } from 'astro-icon/components'
import DevImage1 from '../../assets/devWeb1.jpg?url'
import DevImage2 from '../../assets/devWeb2.jpg?url'
import DevImage3 from '../../assets/devWeb3.jpg?url'
import Button from './Button.astro'
---

<div
  class='devContent content h-0 opacity-0 overflow-hidden transition-all duration-700'
>
  <article class='grid grid-cols-1 md:grid-cols-12 mt-12 gap-8 mx-auto'>
    <div class='md:col-start-1 md:col-end-6'>
      <h3 class='text-3xl text-yellow-primary-600 pb-1 font-semibold'>
        Desarrollo de páginas y aplicativos web
      </h3>
      <p class='text-white-700 py-8'>
          ¿Tienes una idea que quieres llevar al mundo digital? ¿Necesitas una página web o una app que destaque? Nosotros hacemos que suceda.

      </p>

      <p class='text-white-700'>
       Nos especializamos en el desarrollo de páginas web y aplicaciones personalizadas, diseñadas para satisfacer tus necesidades y captar la atención de tus usuarios. Desde sitios web corporativos y tiendas en línea, hasta aplicaciones  funcionales y creativas, creamos soluciones innovadoras que combinan diseño atractivo, alta velocidad y excelente usabilidad.
      Con las tecnologías más avanzadas del mercado y un enfoque orientado a resultados, nuestro equipo desarrolla plataformas modernas, seguras y completamente adaptadas a tus objetivos. 
      </p>

      <p class='text-white-700 pt-8'>
        Lleva tu negocio al siguiente nivel con un sitio web profesional o una app que hable por ti. Transformamos tus ideas en realidad y garantizamos una experiencia digital que impacte y conecte. ¡Hablemos y hagamos crecer tu presencia en línea!
      </p>
      <Button />
    </div>
        <div class='hidden md:block md:col-start-6 md:col-end-10 self-center'>
          <img
            src={DevImage3}
            alt='Imagen de una camara de videovigilancia'
            class='rounded-xl invisible hidden md:visible md:block'
          />
         </div>

    <div
      class='flex flex-col justify-between items-center gap-8 md:gap-0 md:col-start-10 md:col-end-13 place-items-center'
    >
      <img
        src={DevImage1}
        alt='Imagen de una camara de videovigilancia'
        class='rounded-xl'
      />
      <img
        src={DevImage2}
        alt='Imagen de una camara de videovigilancia'
        class='rounded-xl'
      />
    </div>

  </article>

  <div class='w-full flex items-center justify-center mt-12'>
    <a
      href=''
      class='text-yellow-primary-600 font-semibold flex hover:text-yellow-primary-800'
    >
      Obtener cotización gratuita <Icon
        name='solar-arrow-up-outline'
        class='rotate-40 text-xl'
      />
    </a>
  </div>
</div>

<style>
  .content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
  .content.showContent{
    height: 750px;
    opacity: 1;
  }

  @media (width <= 800px) {
    .content.showContent{
      height: auto;
    }
  }

</style>
