---
import Title from "@components/titles/Title.astro";
import ServicesCard from "./ServicesCard.astro";
import ImageStruturedCabling from "../../../assets/pageNetworks/structured-cabling.jpg?url"
import ImageOpticalFiber1 from "../../../assets/pageNetworks/optical-fiber.jpg?url"
import ImageOpticalFiber2 from "../../../assets/pageNetworks/optical-fiber-2.jpg?url"
import ImageRadioLink from "../../../assets/pageNetworks/radio-link.jpg?url"
---

<section class="mt-12">
  <Title title="¿Que soluciones te ofrecemos?"/>
  <ol class= "flex flex-wrap gap-16 lg:gap-4 2xl:gap-16  justify-center ">
    <ServicesCard image={ImageStruturedCabling} label="Cableado Estructurado" />
    <ServicesCard image={ImageOpticalFiber1} label="Mantenimiento de fibra Optica" />
    <ServicesCard image={ImageOpticalFiber2} label="Instalación de fibra óptica" />
    <ServicesCard image={ImageRadioLink} label="Instalación de Radio Enlaces" />
  </ol>
</section> 
