---
import {Icon} from "astro-icon/components"
---

<button type="button" class="text-xl text-white-700 bg-white/10  flex items-center gap-2 px-4 py-2 rounded-xl border hover:scale-105 transition-all hover:border-yellow-500 duration-300 ease-linear cursor-pointer animate-pulse"> Contactar  <Icon name="solar-arrow-up-outline" class="rotate-90 text-xl "/></button>