---
import {Icon} from "astro-icon/components"
---

<button type="button" class="text-xl text-white-700 bg-white/10  flex items-center justify-center gap-2 px-4 py-2 rounded-xl border transition-all hover:border-yellow-500 duration-300 ease-linear cursor-pointer animate-pulse hover:animate-none hover:text-greenDark-900 hover:bg-yellow-primary-800"> Contactar  <Icon name="solar-arrow-up-outline" class="rotate-90 text-xl "/></button>