---
interface Props {
  content: string
  path: string
}

const { content, path } = Astro.props
const currentPath = Astro.url.pathname

---

<li class="text-xl relative text-center text-white-700 capitalize">
  <a
    href={path}
    class:list={["", { "active font-bold": currentPath == path }]}
    aria-current={currentPath == path ? "page" : undefined}
  >
    {content}
  </a>
</li>

<style>
  li a::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #FAFAFA;
    transform: scale(0);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 2rem;
  }

  li a.active::before {
    width: 100%;
    transform: scale(1);
    background-color: #FAFAFA;
  }

  li a:hover::before {
    transform: scale(1);
    width: 100%;
  }
</style>
