---
import Button from "./Button.astro"
import List from "./List.astro"
import Logo from "./Logo.astro"
---

<nav class="flex relative z-20 items-center justify-between px-12 py-2 bg-slate-500/30 backdrop-blur-[4px] border-b border-white-700/50">
  <Logo />
  <List />
  <Button />
</nav>