---
import { Icon } from "astro-icon/components";


---

<button type="button" class="text-yellow-primary-600 bg-zinc-100/12 rounded-md py-1 px-4 flex gap-2 ">Obtener cotización <Icon name="whatsapp" class="text-xl"/> </button>