---
import { Icon } from "astro-icon/components";
---

<a href="https://wa.me/573205697245?text=Hola%20estoy%20interesado%20en%20sus%20servicios" target="_blank" rel="noopener noreferrer">
  <button type="button" class="text-yellow-primary-600 bg-zinc-100/12 rounded-md py-1 px-4 flex gap-2 mt-4 hover:cursor-pointer ">Obtener cotización <Icon name="whatsapp" class="text-xl "/> </button>
</a>
