---
import { Icon } from "astro-icon/components";

interface Props{
  text : string
}

const { text } = Astro.props
---
<div class=" flex flex-col justify-center items-center gap-2 -translate-y-2/3 px-4 md:px-0">
  <span class="text-white-700 uppercase text-xl md:text-2xl font-semibold flex gap-2"> Contactanos <Icon name="whatsapp" class="text-3xl" /> </span>
  <button class="bg-yellow-primary-700 px-4 py-1 rounded-xl max-w-md text-white-700 text-lg md:text-xl font-semibold text-center" > <span> { text } </span> </>
</div>