---
interface Props{
  label: string
}

const {label } = Astro.props
---

<div class=" flex flex-col gap-4 text-white-800">
  <label for={label} class="capitalize"> {label} </label>
  <textarea id={label} class="border-2 border-white-800 rounded-lg py-1 px-2 w-full resize-none" rows="2"> Ingrese una breve descripción sobre tu proyecto. </textarea>
</div>