@import "tailwindcss";

@theme{
  --color-greenDark-900: #0D191D;
  --color-greenDark-950: #060910;
  --color-white-700: #FAFAFA;
  --color-white-800: #C9C9C9;
  --color-yellow-primary-600: #FBBF02;
  --color-yellow-primary-800: #D5A817;
  --max-w-8xl: 1440px
}
