---
import BolderText from "@components/BolderText.astro";
import MainTitle from "@components/titles/MainTitle.astro";

---

<section>
   <MainTitle title="Instalación y mantenimiento  de equipos de cómputo."/>

  <p class="text-white-700 mt-8 md:text-lg "> ¿Tu computador anda más lento que el tráfico de la ciudad? ¡Tranquilo, que en DIGITAL SECURITY le metemos mano y lo dejamos como nuevo! Si se calienta, se congela, suena raro o simplemente ya no rinde… <BolderText>  ¡es hora de un buen mantenimiento! </BolderText> Nuestro equipo de técnicos sabe exactamente qué hacer para que tu PC vuelva a volar: limpio, rápido y listo para lo que se venga.</p>
  <p class="text-white-700 mt-8 md:text-lg ">
    Ofrecemos un servicio completo de instalación y mantenimiento con atención personalizada, pensado para que no tengas que preocuparte por nada. Nos encargamos de todo: desde la <BolderText> limpieza interna que muchos olvidan, hasta el formateo, instalación de programas esenciales, actualización de hardware y optimización del sistema. </BolderText>
  </p>
</section>