---
import {Icon} from "astro-icon/components"
---

<div class="flex flex-col items-center justify-center"> 
  <Icon class="text-8xl rotate-180 text-white-700" name="ep-arrow-up"/>
  <Icon class="text-6xl rotate-180 text-white-700" name="ep-arrow-up"/>
  <Icon class="text-4xl rotate-180 text-white-700" name="ep-arrow-up"/>
</div>