---

import Image1 from "../../../assets/cameraSsecurityPage.jpg?url"
import Image2 from "../../../assets/cameraSsecurityPage2.jpg?url"
import Image3 from "../../../assets/cameraSsecurityPage3.jpg?url"
---

<div class="flex justify-between xl:justify-center w-full mt-12 gap-4 xl:gap-12">
  <img src={Image1} alt="Imagen de una camara de seguridad" class="rounded-xl max-w-[30%]">
  <img src={Image2} alt="Imagen de una camara de seguridad" class="rounded-xl max-w-[30%]">
  <img src={Image3} alt="Imagen de una camara de seguridad" class="rounded-xl max-w-[30%]">
</div>