---
import TopHero from "@components/topHero/TopHero.astro";
import Layout from "@layouts/Layout.astro";
import AboutMe from "@components/aboutMe/AboutMe.astro";
import WhyPreferUs from "@components/whyPreferUs/WhyPreferUs.astro";
import Services from "@components/services/Services.astro";
import Contact from "@components/contact/Contact.astro";
---

<Layout> 
  <TopHero />
  <main class="max-w-(--max-w-8xl) mx-auto px-4 md:px-0"> 
    <AboutMe />
    <WhyPreferUs />
    <Services />
    <Contact />
  </main>
</Layout>

<br><br><br><br>