---
import Title from "@components/titles/Title.astro";
import ArmanLogo from "../../assets/logos/arman.png?url";
import UbanetLogo from "../../assets/logos/ubanet.png?url";
import ConceptosPlasticosLogo from "../../assets/logos/conceptos_plasticos.png?url";


---

<section class="mt-12 w-full">
  <Title title = "¡Ellos ya confiaron en nosotros! y tú, ¿que esperas ? "/>
  <div class="flex gap-4 md:gap-12 mt-12 mx-auto justify-center">
    <img src={ArmanLogo} alt="" class="h-12 md:h-16 w-auto">
    <img src={UbanetLogo} alt="">
    <img src={ConceptosPlasticosLogo} alt="">
  </div>
</section>