---
import BolderText from "@components/BolderText.astro";
import BtnContactWhatsapp from "@components/Buttons/BtnContactWhatsapp.astro";
import MainTitle from "@components/titles/MainTitle.astro";


---

<article class="text-white-700 text-lg flex flex-col gap-8">
  <MainTitle title="Instalación, mantenimiento y optimización de redes de internet" />
  <p class="text-white-700">Contamos con un equipo altamente capacitado para llevar tu red al máximo nivel. <BolderText>  Realizamos instalaciones, reparaciones y mantenimiento con precisión y calidad</BolderText>, identificando desde fallas de señal hasta cortes críticos en la conexión, y aplicando soluciones rápidas y efectivas.
  </p>
  <p> También optimizamos tus redes existentes, asegurándonos de que cada cable, conector y punto de acceso funcione   perfectamente, <BolderText> maximizando la velocidad, estabilidad y rendimiento de tu conexión.</BolderText>
  <br/>
  Ya sea en hogares, oficinas o grandes empresas, trabajamos con tecnología de vanguardia para que tu red esté lista para los desafíos del presente… ¡y del futuro!
  </p>

  <div>
    <BtnContactWhatsapp />
  </div>
</article>