---
import BolderText from "@components/BolderText.astro";
import List from "./List.astro";

---
<div class="text-white-700 text-lg mt-12">
  <p>
    En la actualidad, <BolderText>la conectividad es la columna vertebral de cualquier organización.</BolderText> Desde el acceso a plataformas de trabajo colaborativo hasta la gestión de sistemas críticos en la nube, una red estable y bien dimensionada es fundamental para la productividad y la continuidad operativa.
    <br/>
    <br/>
    <BolderText>  Una infraestructura de red deficiente no solo genera interrupciones, sino que puede derivar en pérdidas económicas, </BolderText> baja satisfacción del cliente e impactos negativos en la reputación de la empresa.
  </p>

  <List />

</div>