---
import BenefitsOfPrevention from "./benefitsOfPrevention/BenefitsOfPrevention.astro";
import TechnicalAlerts from "./technicalAlerts/TechnicalAlerts.astro";

---
<section class="text-white-700 text-lg mt-12">
  <TechnicalAlerts />
  <BenefitsOfPrevention />
</section>