---
import BolderText from "@components/BolderText.astro";
import Title from "@components/titles/Title.astro";
import ListBenefitsOfPrevention from "./ListBenefitsOfPrevention.astro";

---

<article class="mt-12 md:text-lg">
  <Title title="¿Por qué es importante mantener tu red en buen estado?" />
  <p class="mt-8">
    Así como un auto necesita revisiones periódicas para funcionar bien, tu red también requiere cuidados constantes. Muchas veces, los problemas de conexión, lentitud o interrupciones inesperadas no aparecen de la nada: son señales de una red que necesita mantenimiento.
    <br/>
   <BolderText> Prevenir siempre será mejor que corregir. </BolderText>
   <br/>
   <br />
    <strong>Con un mantenimiento regular puedes:</strong>
  </p>
  <ListBenefitsOfPrevention />
</article>