---
import Title from "@components/titles/Title.astro";
import List from "./List.astro";

---
<section class="mt-12">
  <Title title="Síntomas  de que tu computador necesita ayuda" />
  <List />
  <p class="text-xl text-yellow-primary-700 mt-12 text-center font-bold">Si presentas alguno de estos síntomas… ¡no lo ignores!  Escríbenos hoy mismo. No lo pienses más. Si tu computador no da la talla, nosotros lo hacemos rendir. ¡Contáctanos y dale vida nueva a tu equipo!</p>
</section>