---
import BolderText from "@components/BolderText.astro";


---

<p class="text-white-700">
  DIGITAL SECURITY cuenta con un equipo de <BolderText> técnicos altamente capacitados en sistemas de seguridad digital y análoga </BolderText>  , asegurando soluciones de máxima calidad y efectividad. Además, trabajamos con los mejores equipos del mercado, diseñados para brindarte la tranquilidad y protección que necesitas, ya sea en tu hogar, negocio, centro comercial, conjunto residencial , finca  o cualquier espacio que quieras resguardar las 24 horas del día y los 7 días de la semana desde cualquier parte del mundo. Tu seguridad es nuestra prioridad.
</p>