---
import BolderText from "@components/BolderText.astro";
import Subtitle from "@components/titles/Subtitle.astro";


---

<article class="mt-12">
   <Subtitle text="Monitoreo en Tiempo Real" />
   <p class="text-white-700"> Con tecnología de punta y un equipo comprometido con tu tranquilidad, Gracias a nuestros dispositivos como DVR y NVR, podrás tener el control total desde tu celular, tableta o computador, estés donde estés. Mantén la tranquilidad de saber que todo está protegido, sin importar la distancia.. Nuestro objetivo es brindarte soluciones de seguridad efectivas y duraderas, adaptadas a tus necesidades específicas. <BolderText>  Confía en nosotros para proteger lo que más valoras. </BolderText> </p>
</article>