---
import { Icon } from 'astro-icon/components'

interface Props{
  icon : string
  path:string
  blank : boolean
}
const { icon , path , blank } = Astro.props
---
<li class="text-4xl text-center text-white">
  <a
    href={path}
    target={blank ? "_blank" : "_self"}
    rel={blank ? "noopener noreferrer" : undefined}
  >
    <Icon name={icon} class="text-4xl" />
  </a>
</li>
