---
import Footer from '@components/footer/Footer.astro'
import TopBar from '@components/topBar/TopBar.astro'
import '@styles/global.css'
import { Icon } from 'astro-icon/components'
import BottomBar from '@components/bottomBar/BottomBar.astro'
---

<!doctype html>
<html lang="en" class="min-h-screen w-[100%]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Empresa líder en el sector tecnológico. Ofrecemos soluciones innovadoras en seguridad, redes y conectividad para proteger y conectar tu entorno.">
		  <meta property="og:title" content="Digital Security - Soluciones de Seguridad y Conectividad">
		<meta property="og:description" content="Somos expertos en seguridad, redes y tecnología avanzada. Conoce nuestras soluciones innovadoras.">
		<meta property="og:url" content="https://digital-security-networks.vercel.app/">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Digital Security - Soluciones de Seguridad y Conectividad">
		<meta name="twitter:description" content="Protege y conecta tu entorno con tecnología de vanguardia.">

		<title> Digital Security </title>
	</head>

	<body class="min-h-screen w-full bg-gradient-to-br from-greenDark-900 via-greenDark-950 to-greenDark-900 relative">
		<header>
			<TopBar />
		</header>
		<slot />
		<a href="https://wa.me/573205697245?text=Hola%20estoy%20interesado%20en%20sus%20servicios" target="_blank" rel="noopener noreferrer">
			<Icon name="whatsapp" class="text-4xl md:text-5xl fixed bottom-4  right-2 2xl:right-[2%] cursor-pointer" />
		</a>
		<BottomBar   />
		<Footer />
	</body>

</html>

