---
import TopBar from '@components/topBar/TopBar.astro'
import '@styles/global.css'
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="en" class="min-h-screen w-[100%]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>

	<body class="min-h-screen w-full bg-gradient-to-br from-greenDark-900 to-greenDark-950 relative">
		<header>
			<TopBar />
		</header>
		<slot />
		<Icon name="whatsapp" class="text-4xl md:text-5xl fixed bottom-2 right-2 cursor-pointer" />
	</body>
</html>

