---
import Title from "@components/titles/Title.astro"
import AboutImage from "../../assets/aboutMeImage.jpg?url"
import Parragraph from "./Parragraph.astro"
import Subtitle from "@components/titles/Subtitle.astro"

const content = [
  {
    title: "Nuestra Historia:  Comienzos memorables",
    text: "En Digital Security, ofrecemos soluciones tecnológicas que combinan seguridad, conectividad e innovación. Desde nuestros inicios, hemos trabajado para diseñar, implementar y optimizar sistemas inteligentes que protegen y conectan a nuestros clientes. Gracias a nuestra experiencia y evolución constante, nos hemos consolidado como una empresa líder en tecnologías aplicadas a la seguridad y a la infraestructura de redes."
  },
   {
    title: "Nuestro compromiso",
    text: "Contamos con un equipo altamente capacitado y comprometido, dispuesto a desempeñar cada tarea con el máximo nivel de perfección. Para nosotros, cada día y cada proyecto representa un nuevo paso hacia nuestra meta: consolidarnos como una empresa reconocida por su excelencia, calidad y dedicación ."
  },
    {
    title: "Innovación que proteje",
    text: "Nos esforzamos por integrar las últimas innovaciones tecnológicas en cada solución que brindamos. Desde sistemas de videovigilancia hasta redes estructuradas, conectividad avanzada, desarrollo de software a medida, y más soluciones especializadas, trabajamos con tecnología de alta calidad para garantizar la seguridad, el rendimiento y la tranquilidad de nuestros clientes en cualquier entorno."
  },
]
---

<article class="mt-12">
  <Title title="quienes somos" />
  <p class="font-semibold text-2xl uppercase text-white-700 text-center py-8 md:p-12"> vigilancia, protección y tecnología a tu alcance. </p>
  <div class="flex flex-col md:flex-row gap-12 ">
    <img src={AboutImage} alt="Imagen donde se aprecia un conjunto de herramientas de trabajo"
    class="rounded-xl md:w-2/5">
    <div>
      {
        content.map((item) => {
          return(
            <Subtitle text={item.title}/>
            <Parragraph text={item.text}/>
          )
        })
      }
    </div>
  </div>
</article>

